[Desktop Entry]
Name=Teaching Kids Programming
Comment=Teaching Kids Programming In Java
Icon=eclipse
StartupNotify=true
Terminal=false
Type=Application
